.container {
  padding: 2rem;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.backgroundImage {
  object-fit: cover;
  object-position: "center";
}

.content {
  position: relative;
  z-index: 1;
}


